<h1>index</h1>
<a href="facebook/index.html">Protected url by Facebook : facebook/index.html</a><br />
<a href="facebookadmin/index.html">Protected url by Facebook with ROLE_ADMIN: facebookadmin/index.html</a><br />
<a href="facebookcustom/index.html">Protected url by Facebook with custom authorizer (= must be a <em>HttpProfile</em> where the username starts with "jle"): facebookcustom/index.html</a><br />
<a href="twitter/index.html">Protected url by Twitter: twitter/index.html</a> or <a href="twitter/index.html?client_name=FacebookClient">by Facebook: twitter/index.html?client_name=FacebookClient</a><br />
<a href="cas/index.html">Protected url by CAS : cas/index.html</a> (use login = pwd)<br />
<a href="saml/index.html">Protected url by SAML : saml/index.html</a> (use a real account)<br />


<hr/>
<br />
<a href="/logout?url=/">logout</a>
<br /><br />profile : {{userProfile}}
<br /><br />
<hr />

<a href="{{urlFacebook}}">Authenticate with Facebook</a><br />
<a href="{{urlTwitter}}">Authenticate with Twitter</a><br />
<a href="{{urlCas}}">Authenticate with CAS</a><br />
<a href="{{urlSaml}}">Authenticate with SAML</a><br />


<h2>Find the source code on <a target="_blank" href="https://github.com/pac4j/vertx-pac4j-demo">https://github.com/pac4j/vertx-pac4j-demo</a><br/>
    <br />
</h2>